<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Contact List</h1>
	<hr>
	<p>You have {{ total_contacts }} contacts in your phonebook. </p>

	<form action="{% url 'add_new' %}" method="POST">
		{% csrf_token %}
		<div>
			<label for="name">Name</label>
			<input type="text" name="name" id="name">
		</div>
		<div>
			<label for="address">Address</label>
			<input type="text" name="address" id="address">
		</div>
		<div>
			<label for="phone">Phone number</label>
			<input type="text" name="phone" id="phone">
		</div>
		<div>
			<label for="email">Email id</label>
			<input type="email" name="email" id="email">
		</div>

		<button>Save details</button>
		
	</form>

	<ul>
		{% for c in contacts %}
		<li>
			<a href="{% url 'view_contacts' %}{{c.id}}">{{ c.name }}</a>
		</li>
		{% endfor %}
	</ul>
</body>
</html>